
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; font-weight: $f-medium; }
body {
    background: $d-white;
    color: $d-grey;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}

a { 
    color: $d-grey;
}

.nav .page-title {
    transition: 0.25s;

    &:hover {
        color: lighten($d-grey, 15%);

        .ico {
            transition: 0.25s;
            fill: lighten($d-grey, 15%);
        }
    }
}
.page-title {
    width: 100%;
    margin-bottom: var(--m-tiny);
    gap: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px !important;
    border-bottom: 2px solid $line;
    @include flex-align(flex-start);

    .ico {
        position: relative;
        bottom: -2px;
        fill: $d-grey;
    }
}

.body-text {
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: $d-grey;
}

// Form
.upload-form {
    padding: 20px;
    gap: 15px;
    @include stretch;
    @include flex-align(def, def, column);

    .description {
        width: 400px;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5em;
    }
    input[type="file"] {
        width: 420px;;
        background: $d-grey;
        @extend .shadow-black;
        @include flex-align;
    }
}

// CTA buttons
.modal-result {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 9999;

    .overlay {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        background: rgba(5, 8, 15, 0.8);
        backdrop-filter: blur(2px);
        z-index: 200;
    }

    .message {
        width: 40%; height: 70%;
        border-radius: 7px;
        z-index: 201;
        overflow: hidden;
        @include align;
        @extend .shadow-black;

        .title {
            width: 100%; height: 70px; 
            background: $purple;
            color: $d-white; 
            font-size: 1.8rem;
            text-align: center;
            @include flex-align;
        }

        .content {
            width: 100%; height: calc(100% - 70px); 
            background: $d-white;
            text-align: center;
            flex-wrap: wrap;
            gap: 12px;
            @include flex-align(def, def, column);

            img {
                max-width: 90%;
            }
            p {
                margin: 0;
                color: $d-grey; font-size: 1.8rem;
            }
        }
    }
}

// CTA buttons
.CTA {
    max-width: max-content !important;
    padding: 17px 20px;
    color: $white;
    font-size: 1.8rem;
    border-radius: 4px;
    background: $purple;
    cursor: pointer;
    transition: opacity 0.25s;
    @extend .shadow-purple;

    &.bg-orange {
        @extend .shadow-orange;
    }

    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 1;
    }
}
.CTA-small {
    @extend .CTA;
    padding: 10px 15px;
}

// badges
.badge {
    max-width: max-content !important;
    padding: 5px 10px;
    color: $white;
    font-size: 1.6rem;
    background: $orange !important;
    border-radius: 3px;
}

.progress {
    @include flex-align;
}


// [ CUSTOMS ]
.shadow-black { 
    box-shadow: 0 0 12px 0 rgba(#000, 0.05);
}
.shadow-purple { 
    box-shadow: 0 0 11px 0 rgba($purple, 0.5);
}
.shadow-orange { 
    box-shadow: 0 0 11px 0 rgba($orange, 0.4);
}

.bg-orange { 
    background: $orange;
}


// [ MAIN ]
main {
    width: 100%; height: auto; min-height: 100vh;
}

svg.ico {
    width: 22px; height: 22px; 
}

// vimeo
iframe .share-button, iframe .share-label {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

// helpers > get random img
.random-img {
    width: 100%;
    @include stretch(fixed);
    margin: 0;
    padding-right: 100px;
    padding-bottom: 50px;
    gap: 20px;
    @include flex-align;
}




