
// [ COLOURS ]:

$white:     #FFFFFF;
$d-white:   #F5F6FA;
$purple:    #C65BEC;
$red:       #FF7A92;
$green:     #5EDB98;
$orange:    #EC865B;
$grey:      #7082A6;
$d-grey:    #414A63;
$line:        rgba($grey, 0.12);


// [ FONTS ]:

$f-size:        10px;
$f-body:        'Montserrat', sans-serif;
$font: $f-size $f-body;
$f-lite:        300;
$f-normal:      400;
$f-medium:      500;
$f-semibold:    600;
$f-bold:        700;
$f-extra-bold:  800;
$f-black:       900;


// [ SIZES ]:

$mb: 576px;
$sm: 768px;
$md: 900px;
$lg: 1200px;
$w: $lg;


// [ MARGINS ]:

:root {

    --m-tiny:   25px;
    --m-small:  30px;
    --m-medium: 40px;
    --m-big:    50px;
    --m-large:  80px;

}