@import 'Normalize.css';
:root {
  --m-tiny: 25px;
  --m-small: 30px;
  --m-medium: 40px;
  --m-big: 50px;
  --m-large: 80px;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 1px !important;
}

.m-2 {
  margin: 2px !important;
}

.m-3 {
  margin: 3px !important;
}

.m-4 {
  margin: 4px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt--1 {
  margin-top: -1px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mt--3 {
  margin-top: -3px !important;
}

.mt--4 {
  margin-top: -4px !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.mt--10 {
  margin-top: -10px !important;
}

.mt--20 {
  margin-top: -20px !important;
}

.mt--30 {
  margin-top: -30px !important;
}

.mt--40 {
  margin-top: -40px !important;
}

.mt--50 {
  margin-top: -50px !important;
}

.ml--1 {
  margin-left: -1px !important;
}

.ml--2 {
  margin-left: -2px !important;
}

.ml--3 {
  margin-left: -3px !important;
}

.ml--4 {
  margin-left: -4px !important;
}

.ml--5 {
  margin-left: -5px !important;
}

.ml--10 {
  margin-left: -10px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.ml--30 {
  margin-left: -30px !important;
}

.ml--40 {
  margin-left: -40px !important;
}

.ml--50 {
  margin-left: -50px !important;
}

.mr--1 {
  margin-right: -1px !important;
}

.mr--2 {
  margin-right: -2px !important;
}

.mr--3 {
  margin-right: -3px !important;
}

.mr--4 {
  margin-right: -4px !important;
}

.mr--5 {
  margin-right: -5px !important;
}

.mr--10 {
  margin-right: -10px !important;
}

.mr--20 {
  margin-right: -20px !important;
}

.mr--30 {
  margin-right: -30px !important;
}

.mr--40 {
  margin-right: -40px !important;
}

.mr--50 {
  margin-right: -50px !important;
}

.mb--1 {
  margin-bottom: -1px !important;
}

.mb--2 {
  margin-bottom: -2px !important;
}

.mb--3 {
  margin-bottom: -3px !important;
}

.mb--4 {
  margin-bottom: -4px !important;
}

.mb--5 {
  margin-bottom: -5px !important;
}

.mb--10 {
  margin-bottom: -10px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.mb--30 {
  margin-bottom: -30px !important;
}

.mb--40 {
  margin-bottom: -40px !important;
}

.mb--50 {
  margin-bottom: -50px !important;
}

.center-x {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.flex-col {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-row-center {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col-center-top {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide {
  width: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-50 {
  width: 50% !important;
}

.ico-15 {
  max-width: 15px !important;
}

.ico-16 {
  max-width: 16px !important;
}

.ico-17 {
  max-width: 17px !important;
}

.ico-18 {
  max-width: 18px !important;
}

.ico-19 {
  max-width: 18px !important;
}

.ico-20 {
  max-width: 20px !important;
}

.ico-21 {
  max-width: 20px !important;
}

.ico-22 {
  max-width: 22px !important;
}

.widen-font {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 7px;
  cursor: alias;
}

::-webkit-scrollbar-thumb {
  background: #556182;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background: #4f5a79;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

::-webkit-scrollbar-track {
  border: none;
  background: transparent;
}

html {
  font: 10px "Montserrat", sans-serif;
  font-weight: 400;
  font-weight: 500;
}

body {
  background: #F5F6FA;
  color: #414A63;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

a {
  color: #414A63;
}

.nav .page-title {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.nav .page-title:hover {
  color: #5f6d91;
}
.nav .page-title:hover .ico {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  fill: #5f6d91;
}

.page-title {
  width: 100%;
  margin-bottom: var(--m-tiny);
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px !important;
  border-bottom: 2px solid rgba(112, 130, 166, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-title .ico {
  position: relative;
  bottom: -2px;
  fill: #414A63;
}

.body-text {
  margin-bottom: 10px;
  font-size: 1.7rem;
  color: #414A63;
}

.upload-form {
  padding: 20px;
  gap: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-form .description {
  width: 400px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5em;
}
.upload-form input[type=file] {
  width: 420px;
  background: #414A63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-result {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.modal-result .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 8, 15, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 200;
}
.modal-result .message {
  width: 40%;
  height: 70%;
  border-radius: 7px;
  z-index: 201;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.modal-result .message .title {
  width: 100%;
  height: 70px;
  background: #C65BEC;
  color: #F5F6FA;
  font-size: 1.8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-result .message .content {
  width: 100%;
  height: calc(100% - 70px);
  background: #F5F6FA;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-result .message .content img {
  max-width: 90%;
}
.modal-result .message .content p {
  margin: 0;
  color: #414A63;
  font-size: 1.8rem;
}

.CTA, .article-comments .form-add-comment .input-box button, .CTA-small {
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  padding: 17px 20px;
  color: #FFFFFF;
  font-size: 1.8rem;
  border-radius: 4px;
  background: #C65BEC;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.CTA:hover, .article-comments .form-add-comment .input-box button:hover, .CTA-small:hover {
  opacity: 0.9;
}
.CTA:active, .article-comments .form-add-comment .input-box button:active, .CTA-small:active {
  opacity: 1;
}

.CTA-small {
  padding: 10px 15px;
}

.badge {
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 1.6rem;
  background: #EC865B !important;
  border-radius: 3px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow-black, .upload-form input[type=file], .modal-result .message {
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
}

.shadow-purple, .CTA, .article-comments .form-add-comment .input-box button, .CTA-small {
  -webkit-box-shadow: 0 0 11px 0 rgba(198, 91, 236, 0.5);
          box-shadow: 0 0 11px 0 rgba(198, 91, 236, 0.5);
}

.shadow-orange, .CTA.bg-orange, .article-comments .form-add-comment .input-box button.bg-orange, .bg-orange.CTA-small {
  -webkit-box-shadow: 0 0 11px 0 rgba(236, 134, 91, 0.4);
          box-shadow: 0 0 11px 0 rgba(236, 134, 91, 0.4);
}

.bg-orange {
  background: #EC865B;
}

main {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

svg.ico {
  width: 22px;
  height: 22px;
}

iframe .share-button, iframe .share-label {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.random-img {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-right: 100px;
  padding-bottom: 50px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 75%;
  margin: 0 auto;
}

main.home {
  padding: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.home .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home .search-form {
  width: 350px;
  gap: 15px;
  background: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home .search-form .ico {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  fill: #7082A6;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

main.home .search-form input {
  width: 100%;
  background: transparent;
  font-size: 1.8rem;
  color: #7082A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.home .search-form input:focus ~ div .ico {
  fill: #C65BEC;
}

main.article-page {
  padding: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.article-page .page-title {
  width: 100%;
}

main.article-page .article-title {
  color: #7082A6;
  font-size: 2.2rem;
  margin-bottom: 5px;
}
main.article-page .article-title span {
  font-weight: 400;
  margin-right: 10px;
}

main.article-page .article-date {
  color: #afb9cd;
  font-size: 1.5rem;
  margin-top: -15px;
  margin-bottom: 5px;
  font-weight: 500;
}
main.article-page .article-date span {
  font-weight: 500;
  margin-right: 10px;
}

main.article-page .article-cover {
  width: 100%;
  height: 450px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 5, 15, 0.1);
          box-shadow: 0 0 9px 2px rgba(0, 5, 15, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.article-page .article-cover img {
  width: 100%;
}

main.article-page .article-text {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(112, 130, 166, 0.12);
}
main.article-page .article-text p {
  color: #7082A6;
  font-size: 1.6rem;
  line-height: 2;
}

.articles {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article {
  position: relative;
  width: 350px;
  height: 210px;
  background: #e4e7f2;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article:hover {
  background: #d3d7e9;
}
.article:hover .article-cover img {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.article:hover .article-name, .article:hover .article-date {
  opacity: 0;
}
.article:hover .article-icon {
  opacity: 1;
}
.article:active .article-cover img {
  opacity: 0.8;
}
.article .article-cover {
  position: absolute;
  width: 330px;
  height: 190px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
.article .article-cover img {
  width: 100%;
  min-height: 100%;
  opacity: 0.45;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.article .article-info {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article .article-info .article-name {
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
}
.article .article-info .article-date {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
}
.article .article-icon {
  z-index: 100;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: #414A63;
  font-size: 4rem;
  color: #F5F6FA;
  padding-left: 3px;
  padding-bottom: 5px;
  opacity: 0;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 5, 15, 0.25);
          box-shadow: 0 0 10px 1px rgba(0, 5, 15, 0.25);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-comments {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-comments .form-add-comment {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(112, 130, 166, 0.12);
}

.article-comments .form-add-comment textarea {
  width: 100%;
  height: 150px;
  background: #8f9dba;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.6rem;
  color: #F5F6FA;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  resize: none;
  margin-top: 10px;
}
.article-comments .form-add-comment textarea:focus {
  background: #7d8dae;
}
.article-comments .form-add-comment textarea::-webkit-input-placeholder {
  color: #e4e7f2;
}

.article-comments .form-add-comment .input-box {
  width: 100%;
  height: 50px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-comments .form-add-comment .input-box input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background: #8f9dba;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 1.6rem;
  color: #F5F6FA;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.article-comments .form-add-comment .input-box input:focus {
  background: #7d8dae;
}
.article-comments .form-add-comment .input-box input::-webkit-input-placeholder {
  color: #e4e7f2;
}
.article-comments .form-add-comment .input-box button {
  padding: 0 25px;
  height: 100%;
}

.article-comments .comments-list {
  width: 700px;
  padding: 20px;
  border-radius: 7px;
  background: #e4e7f2;
  margin-top: 20px;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-comments .comments-list .comments-sort {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 15px;
  gap: 10px;
  font-size: 1.4rem;
  color: #8f9dba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-comments .comments-list .comments-sort div {
  gap: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-comments .comments-list .comments-sort div:hover {
  color: #7d8dae;
}
.article-comments .comments-list .comments-sort div:hover .ico {
  fill: #b62de7;
  stroke: #b62de7;
}
.article-comments .comments-list .comments-sort .ico {
  width: 22px;
  height: 22px;
  fill: #b62de7;
  stroke: #b62de7;
  fill: #414A63;
  stroke: #414A63;
  stroke-width: 0.5px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.article-comments .comments-list .comments-sort .ico.desc {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.article-comments .comments-list .comment {
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  background: #d3d7e9;
  padding: 20px;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.article-comments .comments-list .comment:hover {
  background: #c9cee4;
}
.article-comments .comments-list .comment .username {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.article-comments .comments-list .comment .comment-text {
  width: 100%;
  font-size: 1.6rem;
}
.article-comments .comments-list .comment .comment-date {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #8090b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}